// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// import custom css
@import "../css/app.css";

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~startbootstrap-sb-admin-2/scss/sb-admin-2.scss";

.vue-family-card__image {
    background-position: unset !important;
    background-size: cover;
    image-rendering: -moz-crisp-edges; /* Firefox        */
    image-rendering: -o-crisp-edges; /* Opera          */
    image-rendering: -webkit-optimize-contrast; /* Safari         */
    image-rendering: optimize-contrast; /* CSS3 Proposed  */
    -ms-interpolation-mode: nearest-neighbor;
}

.sidebar.toggled {
    width: 80px !important;
    .nav-item .nav-link {
        width: auto;
    }
}
.my-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .gallery-thumbnail {
        width: 30% !important;

        img {
            width: 100%;
        }
    }
}

.modal-dialog {
    img {
        max-width: 400px;
        margin-bottom: 20px;
    }
}

.pswp__img {
    width: auto !important;
    height: auto !important;
}

@media screen and (max-width: 1000px) {
    .my-gallery {
        .gallery-thumbnail {
            width: 46% !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .my-gallery {
        .gallery-thumbnail {
            width: 100% !important;
        }
    }
}
