// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// import custom css
@import "../css/app.css";

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~startbootstrap-sb-admin-2/scss/sb-admin-2.scss";

.vue-family-card__image {
    background-position: unset !important;
    background-size: cover;
    image-rendering: -moz-crisp-edges; /* Firefox        */
    image-rendering: -o-crisp-edges; /* Opera          */
    image-rendering: -webkit-optimize-contrast; /* Safari         */
    image-rendering: optimize-contrast; /* CSS3 Proposed  */
    -ms-interpolation-mode: nearest-neighbor;
}

.sidebar.toggled {
    width: 80px !important;
    .nav-item .nav-link {
        width: auto;
    }
}
@media screen and (max-width: 600px) {
    .VueCarousel-slide {
    img {
        max-width: 100% !important;
    }
}
}
@media screen and (max-width: 600px) {
    .my-gallery {
        img {
            max-width: 100% !important;
            margin-bottom: 20px;
        }
    }
    .modal-dialog {
        img {
            max-width: 100% !important;
            margin-bottom: 20px;
        }
    }
}
